*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.letter-wrapper {
    border: 1pt solid;
    margin: auto;
    overflow: hidden;
    width: 210mm;
    height: 350mm;
    position: relative;
    font-family: "Poppins", sans-serif;

}
.letter-wrapper .letter-background .left-top
{
  height: 10px;
  padding-left: 0px;
  padding-top: 0px;
  border-top: 50px solid red;
}
.letter-wrapper .letter-background .right-top
{
  height: 10px;
  padding-right: 0px;
  padding-top: 0px;
  border-top: 50px solid black;
  width: 50%;
  position: absolute;
  right: 0mm;
  top: 0mm;
}




/*..............................................main.........................*/
/*.wrapper-class .letter-content header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30mm;
    width: 100%;
    height: 55mm;
    border-bottom: 13mm solid rgba(0, 0, 0, 0.811);
    gap: 8mm;
  }*/
   body .letter-wrapper .letter-content header .letter-org-logo {
    font-weight: bold;
    position: absolute;
    left: 25mm;
    top: 10mm;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 70px;
  }
  body .letter-wrapper .letter-content header .letter-org-logo img {
    width: 30mm;
    height: 30mm;
  }
  body .letter-wrapper .letter-content header .letter-org-name {
    /* font-weight: bold; */
    width: auto;
    height: auto;
    font-size: 10pt;
    color: rgb(235, 42, 42);
    margin-top: 150px;
    margin-left:110px;
    left: 20mm;
    top:20mm;
  }
  .letter-content header .letter-org-details {
    /* font-weight: bold;*/
    top: 30mm;
    margin-left: 29mm;
    width: auto;
    height: auto;
    font-size: 12pt;
    /* color: black; */
    color: rgb(59, 57, 57);
  } 
  .letter-ref{
    font-weight:bold;
    position:absolute;
    left: 31mm;
    top: 105mm;
    color: rgb(59, 57, 57);
    /* @include absolute-div(15mm,50mm,50%,auto); */
     font-size:12pt;
  }
  .letter-date{
    font-weight:bold;
    position:absolute;
    /* @include absolute-div(165mm,50mm,30%,auto); */
    font-size:12pt;
    top:105mm;
    right: 30mm;
    color: rgb(59, 57, 57);
  }
  /* body .letter-wrapper.letter-content .letter-body {
    position: absolute;
    left: 0mm;
    top: 100mm;
    width: 100%;
    height: 200mm;
    margin-top: 150px;
  }
   */
  body .letter-wrapper .letter-content .letter-body .letter-body-to {
    position: absolute;
    left: 30mm;
    top: 80mm;
    width: 70mm;
    height: 35mm;
    font-weight: bold;
    font-size: 11pt;
    margin: 0mm;
    line-height: 21px;
    color: rgb(59, 57, 57);
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-subject {
    position: absolute;
    left: 20mm;
    top: 95mm;
    width: calc(100% - 45mm);
    height: 20mm;
    margin-left: 10mm;
    margin-right: 15mm;
    margin-top: 130px;
    font-size: 13pt;
    font-weight: bold;
    color: rgb(59, 57, 57);
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-salutation {
    position: absolute;
    left: 20mm;
    top: 143mm;
    width: auto;
    height: auto;
    margin-left: 10mm;
    font-weight: bold;
    font-size: 12pt;
    color: rgb(59, 57, 57);
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-message {
    position: absolute;
    left: 0mm;
    top: 151mm;
    width: auto;
    height: 115mm;
    margin-left: 30mm;
    margin-right: 30mm;
    font-weight: bold;
    font-size: 11pt;
    color: rgb(59, 57, 57);
    line-height: 20px;
  }
   body .letter-wrapper .letter-content .letter-body .letter-body-message p {
    /* font-size: small; */
    overflow: auto;
    text-align: justify;
    margin-top: 5mm;
    

  } 
  body .letter-wrapper .letter-content .letter-body .letter-body-sign {
    position: absolute;
    left: 0mm;
    top: 240mm;
    width: auto;
    height: auto;
    margin-left: 30mm;
    margin-right: 15mm;
    font-size: 12pt;
    font-weight: bold;
    line-height: 20px;
    
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-sign p {
    margin: 0mm;
    font-size: 10pt;
    font-weight: bold;
  }
  body .letter-wrapper .letter-content .letter-footer {
    position: absolute;
    left: 0mm;
    bottom: 18mm;
    width: 100%;
    height: 35mm;
    
  }
  /* body .letter-wrapper .letter-content .letter-footer .footer-box{
    position: absolute;
    height: 40mm;
    width: 50mm;
    background-color: black;
    top: 100mm;
    left: 0mm;
    border-left: 6px solid black; 
     transform: skewY(-90.5deg); 
  }  */
  body .letter-wrapper .letter-content .letter-footer .fa {
    width: 7mm;
    height: 7mm;
    border-radius: 50%;
    padding: 1mm;
    margin-right: 3mm;
    background-color: black;
    color: red;
    text-align: center;
    font-size: 12pt;
  }
  
  body .letter-wrapper .letter-content .letter-footer .letter-org-website {
    bottom: 5mm;
    /* display: flex; */
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    margin-left: 30mm;
    margin-right: 15mm;
    font-size: 18pt;
    font-weight: bold;
    text-shadow: 0.2mm 0.2mm white;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-phone {
    position: absolute;
    left: 30mm;
    top: 13mm;
    width: 40%;
    height: auto;
    /* margin-left: 15mm;
    margin-right: 15mm; */
    font-size: 13pt;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-email {
    position: absolute;
    left: 30mm;
    top: 22mm;
    width: 87mm;
    height: auto;
   
    font-size: 13pt;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-address {
    position: absolute;
    left: 30mm;
    top: 31mm;
    width: 100%;
    height: auto;
    font-size: 13pt;
   
  }
   